<!--Top navigation bar-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <!--Top left weather icon-->
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img src="../../assets/images/clouds.png" alt="Weather icon">
    </a>
  </div>
  <div class="navbar-nav">
    <span class="navbar-text">{{'navbar.title' | translate}}</span>
  </div>
  <!--Toggle button for small screens-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <!--Unit selection-->
      <li class="select">
        <select name="units" id="units" #unitSelect (change)="saveUnit(unitSelect.value)">
          <option selected>{{'navbar.unit' | translate}}</option>
          <option *ngFor="let unit of units | keyvalue" [value]="[unit.key, unit.value]">
            {{unit.value[0]}}
          </option>
        </select>
      </li>
      <!--Language selection-->
      <li class="select">
        <select name="lang" id="lang" #langSelect (change)="translate.use(langSelect.value) && reloadPage()">
          <option selected>{{'navbar.lang' | translate}}</option>
          <option *ngFor="let lang of translate.getLangs()" [value]="lang">
            {{lang}}
          </option>
        </select>
      </li>
      <!--Github logo and link-->
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/thibault-gilg/weather-app-angular" target="_blank" rel="noopener"
          aria-label="GitHub">
          <img src="../../assets/images/github-icon.png" alt="Github logo">
        </a>
      </li>
    </ul>
  </div>
</nav>