
<nav class="navbar navbar-expand-md navbar-dark fixed-top">

  <!--Top left weather icon-->
  <div class="navbar-header"> <!--For correct display on phones-->
    <a class="navbar-brand" href="/">
      <img class="weather-icon" src="../../assets/clouds.png" alt="Weather icon">
    </a>
  </div>
  <div class="navbar-nav"><span class="navbar-text">{{title}}</span></div>

  <!--Toggle button for small screens-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">      
    <ul class="navbar-nav ml-auto">

      <!--Temperature system-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">°C</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#imperial">°F</a>
        </div>
      </li>

      <!--Language selector-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#en"><span class="flag-icon flag-icon-en"> </span><img class="us-flag" src="../../assets/usa-flag.png" alt="US flag">  English</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" href="#fr"><span class="flag-icon flag-icon-fr"> </span><img class="fr-flag" src="../../assets/fr-flag.png" alt="French flag">  French</a>
          <a class="dropdown-item" href="#es"><span class="flag-icon flag-icon-es"> </span><img class="sp-flag" src="../../assets/sp-flag.png" alt="Spanish flag">  Spanish</a>
        </div>
      </li>
      
      <!--Github logo and link-->
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/thibault-gilg/weather-app-angular" target="_blank" rel="noopener" aria-label="GitHub">
          <img class="github-logo" src="../../assets/github-icon.png" alt="Github logo">
        </a>
      </li>
    </ul>
  </div>
</nav>