.navbar{
  background-color: #03073b;
  padding: 0.5rem;
}
.navbar-header img{
  height: 2.3rem;
  width: 2.3rem;
}
.navbar-text {
  color: white;
  font-weight: bold;
}
.select{
  padding: 0.5rem;
}
.nav-link img{
  height: 1.4rem;
  width: 1.4rem;
}