<app-navbar></app-navbar>

<!--Search-->
<div class="container" id="search">
    <div class="row">
        <h1>{{'search.header' | translate}}</h1>
    </div>
    <div class="row">
        <!--Search instructions-->
        <ul>
            <li>{{'search.coordinates' | translate}}(30.27, -97.76).</li>
            <li>{{'search.codes' | translate}}</li>
            <li>{{'search.us_states' | translate}}</li>
        </ul>
    </div>
    <div class="row">
        <!--Submitting the form enables the method onSubmitSearch-->
        <form (ngSubmit)="onSubmitSearch()" [formGroup]="weatherSearchForm">
            <div class="form-row align-items-center">
                <div class="col-sm-4 my-1">
                    <label class="sr-only" for="inlineFormInputCity">City or GPS coordinates</label>
                    <input class="form-control" type="text" placeholder="{{'search.location' | translate}}"
                        formControlName="location">
                </div>
                <div class="col-sm-2 my-1">
                    <label class="sr-only" for="inlineFormInputGroupState">State code</label>
                    <input type="text" class="form-control" placeholder="{{'search.state_code' | translate}}"
                        formControlName="stateCode">
                </div>
                <div class="col-sm-2 my-1">
                    <label class="sr-only" for="inlineFormInputGroupCountry">Country</label>
                    <input type="text" class="form-control" placeholder="{{'search.country_code' | translate}}"
                        formControlName="countryCode">
                </div>
                <div class="col-auto my-1">
                    <!--Search button disabled until input is valid-->
                    <button class="btn btn-outline-primary" type="submit"
                        [disabled]="weatherSearchForm.invalid">{{'search.button' | translate}}</button> </div>
            </div>
        </form>
    </div>
    <!--Display current weather results-->
    <div class="container" id="weather">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 current-weather" *ngIf="currentWeather">
            <p>
                <img src="http://openweathermap.org/img/wn/{{currentWeather.weather[0].icon}}@2x.png"
                    alt="Weather icon">
                <span>{{currentWeather.name}}, {{currentWeather.sys.country}}
                    {{currentWeather.main.temp}} {{cookie.get("unit")}}
                </span><br />
                {{currentWeather.weather[0].description | titlecase}}<br />
                <!--Unix timestamp conversion with date pipe-->
                {{currentWeather.dt*1000 | date:'MM/dd/yyyy, h:mm a'}}<br />
                ({{cookie.get("location")}})
            </p>
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th scope="row">{{'weather.local_time' | translate}}</th>
                        <td>{{localTime | date:'h:mm a'}}</td>
                        <th scope="row">{{'weather.wind_speed' | translate}}</th>
                        <td>{{currentWeather.wind.speed}} {{cookie.get("speed")}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{'weather.feels_like' | translate}}</th>
                        <td>{{currentWeather.main.feels_like}} {{cookie.get("unit")}}</td>
                        <th scope="row">{{'weather.clouds' | translate}}</th>
                        <td>{{currentWeather.clouds.all}} %</td>
                    </tr>
                    <tr>
                        <th scope="row">{{'weather.humidity' | translate}}</th>
                        <td>{{currentWeather.main.humidity}} %</td>
                        <th scope="row">{{'weather.sunrise' | translate}}</th>
                        <td>{{currentWeather.sys.sunrise*1000 | date: 'h:mm a'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{'weather.pressure' | translate}}</th>
                        <td>{{currentWeather.main.pressure}} hPa</td>
                        <th scope="row">{{'weather.sunset' | translate}}</th>
                        <td>{{currentWeather.sys.sunset*1000 | date: 'h:mm a'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-forecast-weather></app-forecast-weather>